html {
    height: 100%;
}

body{
    height:100%;
    width: 100%;
    background: url('../img/christine_freediving.jpg') fixed;
    background-size: cover;
    /*css hack for ie*/
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
    -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}

.line-height {
    min-height: 1em;
}

.active-interval {
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

.timer {
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

@media(min-width:992px) {
    .timer {
        font-size: 3em;
    }
}

.interval {
    margin: 5px;
}

.interval-too-short {
    font-weight: bold;
}

.main-div-wrapper {
    height: auto;
    min-height: 100%;
}

@media(min-width:768px) {
    .main-div-wrapper {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.main-div {
    background: rgba(173, 202, 215, 0.75) fixed;
}

.total-time {
    font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #08121B;
}

.btn-control {
    padding-top: 0.3em;
}

.right {
    text-align: right;
}

.round-number {
    font-weight: bold;
}

footer {
    margin-bottom: 0;
    margin-top: 2em;
    color: #91b2c2;
    width: 100%;
}

.footer-text {
    vertical-align: middle;
    line-height: 2em;
    text-align: center;
    margin: 0;
}

input {
    text-align: right;
}

.input-group-addon {
    background-color: white;
    border-left: none;
}

.inline-title > h2 {
    display: inline-block;
}

.inline-title {
    margin-bottom: 5px;
}

.reset {
    margin-bottom: 2px;
}

.timer-remaining {
    font-size: 4em;
}

div.login {
    display: inline-block;
}

.login button {
    height: 34px;
    margin-left: 0.5em;
}